<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Code Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- courseType Column -->
    <ng-container matColumnDef="facilitatorsCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Facilitators Count</th>
      <td mat-cell *matCellDef="let row">{{row.facilitatorsCount}}</td>
    </ng-container>

    <!-- courseType Column -->
    <ng-container matColumnDef="numberOfFeedback">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number Of Feedback</th>
      <td mat-cell *matCellDef="let row">{{row.numberOfFeedback}}</td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="questionnaireName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Questionnaire Name</th>
      <td mat-cell *matCellDef="let row">{{row.questionnaire.name}}</td>
    </ng-container>
    <!-- title Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
      <td mat-cell *matCellDef="let row"><admin-course-sub-menu [course]="row" ></admin-course-sub-menu></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="50"
      [pageIndex]="0"
      [pageSize]="20"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>


</div>
<button mat-fab aria-label="Example icon-button with a heart icon" (click)="addNewCourse()">
  <mat-icon>add</mat-icon>
</button>
