<mat-spinner *ngIf="!course"></mat-spinner>
<form  *ngIf="course" [formGroup]="courseForm" (ngSubmit)="onSubmit()">


  <mat-card class="form-container">

    <mat-card-header>
      <mat-card-title>{{formTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <s-grid [lg]="'left right'" [md]="'left right'">
        <s-grid-tile  >
          <mat-card class="form-container">

            <mat-card-content>
              <mat-form-field>
                <input type="text" matInput placeholder="Course name" formControlName="name" [(ngModel)]="course.name">
              </mat-form-field>

              <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="description"
                        [(ngModel)]="course.description"></textarea>
              </mat-form-field>

              <mat-form-field>
                <input type="number" matInput placeholder="Number of Facilitators" formControlName="facilitatorsCount"
                       [(ngModel)]="course.facilitatorsCount">
              </mat-form-field>

              <mat-form-field>
                <input type="number" matInput placeholder="Number of Feedback" formControlName="numberOfFeedback"
                       [(ngModel)]="course.numberOfFeedback">
              </mat-form-field>

              <label id="example-radio-group-label">Select Questionnaire</label>
              <mat-radio-group required [(value)]="questionnaire" (change)="questionnaire=$event.value">
                <mat-radio-button [value]="value.name" *ngFor=" let value of questionnaires" >{{value.name}}
                </mat-radio-button>
              </mat-radio-group>

            </mat-card-content>
          </mat-card>
        </s-grid-tile>
        <s-grid-tile  >
          <mat-card class="form-container">
            <mat-card-header>
              <mat-card-subtitle>Select Activities</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-selection-list #activityList [(ngModel)]="course.activities" [ngModelOptions]="{standalone: true}"
                                  (ngModelChange)="onActivitiesChange($event)">
                <mat-list-option *ngFor="let activity of activityAll" [selected]=isChecked(activity.name)
                                 [value]="activity">
                  {{activity.name}}
                </mat-list-option>
              </mat-selection-list>
              <p>
                Activities selected: {{activityList.selectedOptions.selected.length}}
              </p>

            </mat-card-content>

          </mat-card>
        </s-grid-tile>
      </s-grid>

    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!courseForm?.valid" type="submit">{{submitBtnText}}
        </button>
        <button mat-raised-button color="primary" [disabled]="!courseForm?.touched" (click)="backToCourseManage()">
          Cancel
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</form>
