//@import "~@material/layout-grid/mdc-layout-grid";
//@import "~@material/animation/variables";
:root{
  --mdc-layout-grid-margin-tablet: 10px;
  --mdc-layout-grid-gutter-desktop: 15px;
}
.mdc-layout-grid__inner > div {
background: #3B5998;
}

.samp{
  background: red!important;
}
.sk{
  background: #bbb;
}

.mdc-layout-grid{
  padding: var(--mdc-layout-grid-margin-tablet);

}
@media (min-width: 840px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
}



@mixin arrows($arrowdirection: left, $arrowsize: 5px, $arrowcolor: green) {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;

  @if $arrowdirection == right {
    border-left: $arrowsize solid $arrowcolor;
    border-bottom: $arrowsize solid transparent;
    border-top: $arrowsize solid transparent;


  } @else if $arrowdirection == up {
    border-left: $arrowsize solid transparent;
    border-right: $arrowsize solid transparent;
    border-top: $arrowsize solid $arrowcolor;
  } @else if $arrowdirection == down {
    border-left: $arrowsize;
    border-right: $arrowsize;
    border-top: $arrowsize $arrowcolor;
  } @else {
  //  @error('please provide correct direction [up,right,bottom,left]')
  }
}

.test {
  @include arrows;
}




@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

$primary-color: #666;


.test2 {
  //@include arrows(right, 10px, blue);
  background-color: invert($primary-color,90%);
  width: 300px;
  height: 100px;
}
