<div class="container pt-5">
    <div class="row">
        <div class="col-12 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title mb-4 mt-3">Event Calendar</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus
                        dignissim nulla at luctus.</p>
                    <button type="button" class="btn btn-link">LATEST EVENTS</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title mb-4 mt-3">Resources</h3>
                    <ul>
                        <li><a href="#"> Guiedlines</a></li>
                        <li><a href="#">Self Assesment Questionnaires</a></li>
                        <li><a href="#">Mindfulness for Beginners</a></li>
                    </ul>
                    <button type="button" class="btn btn-link">MORE</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title mb-4 mt-3">Library</h3>
                    <ul>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">eBooks</a></li>
                        <li><a href="#">Audio Books</a></li>
                        <li><a href="#">Presentaions</a></li>
                    </ul>
                    <button type="button" class="btn btn-link">MORE</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title mb-4 mt-3">Support Us</h3>
                    <p class="card-text">Sati Pasala Foundation is not-for-profit organization supported by charitable
                        donations.</p>
                    <button type="button" class="btn btn-link">MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container border-top">
    <div class="row mt-3">
        <div class="col copyright">
            <p class=""><small class="text-black-50">© 2019. Satipasala Foundation. All Rights Reserved.</small></p>
        </div>
    </div>
</div>