.card{
    //min-height: 270px;
    border: 0;
    transition: all .4s;
    
    
    .card-body{
        position: relative;
        padding-bottom: 100px;
        transition: all .4s;

        h3{
            color:rgb(224, 176, 72);
            font-weight: 700;
            position: relative;
            transition: all .2s;

            &:after{
                content: "";
                position: absolute;
                width: 0;
                opacity: 0;
                height: 2px;
                background:rgb(64, 169, 255);
                bottom: -14px;
                transition: all .4s ease;
                left: 0;
              }
             
            
        }

        .btn{
            position: absolute;
            bottom: 14px;
            right: 9px;
            color:rgb(224, 176, 72);

            &:hover{
               text-decoration: none; 
               color:rgb(64, 169, 255);
            }
        }

        ul{
            margin: 0;
                padding: 0;
            li{
                color: rgb(170, 170, 170);
                line-height: 1.7rem;
                font-size: 0.9rem;
                list-style: none;
                border-bottom: 1px solid #eaeaea;
                padding: 5px 0;
                
            }
        }

        p{
            color: rgb(170, 170, 170);
            line-height: 1.7rem;
            font-size: 0.9rem;
        }

        a{
            text-decoration: none;
            font-weight: 100;
            color:  rgb(224, 176, 72);
            transition: all .4s;

            &:hover{
                color:rgb(64, 169, 255);
            }
        }

        
    }

    &:hover{
        transform: scale(1.04);

        & .card-body h3:after {
            width: 100%;
            opacity: 1;
            background:rgb(64, 169, 255);
        }

        & .card-body h3{
            color:rgb(64, 169, 255);
        }
    }
}