
<!--<dynamic-form-component [fields]="this.questionnaire?.list.values"></dynamic-form-component>-->
<s-dynamic-stepper-form [fields]="this.questionnaire?.questions"
                        (onSubmit)="onSubmit.emit($event)"
                        [disableSubmit]="disableSubmit"></s-dynamic-stepper-form>
