.btn{
    border-radius: 35px;
    padding: 12px 40px;
    min-width: 150px;
    background: white;
    border-color:white;
    color: rgb(243, 161, 9);
    white-space: nowrap;
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.3s;
      
      &:after {
        content: '\f105';
        font-family: "FontAwesome";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: all 0.3s;
      }
    }
  
    &:hover span {
    padding-right: 25px;
    color:rgb(48, 185, 248);
    
    &:after {
    opacity: 1;
    right: 0;
    }
  }
  
}