<div class="container py-5">
    <div class="row">
        <div class="col-xs-6 col-lg-8">
            <p class="text-white">Sati Pasala was established with the aim of sharing mindfulness
                with students, teachers and everyone in the school community. All Mindfulness programs are
                facilitated by a team of volunteers who are experienced mindfulness practitioners.</p>
        </div>
        <div class="col-xs-6 col-lg-4 text-xs-left text-lg-center">
            <button type="button" class="btn btn-primary btn-lg"><span>Read More</span></button>
        </div>
    </div>
</div>