<h2>{{title}}</h2>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@name">Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@description">Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@active">Active</th>
      <td mat-cell *matCellDef="let row">{{row.active}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <admin-ref-data-context-menu [refDataObj]="row"
                                     (contextMenuClickEmitter)="onContextMenuCommand($event)"></admin-ref-data-context-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
  </table>


  <mat-paginator #paginator [length]="100"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[50, 100, 150, 200] " (page)="loadMore($event)">
  </mat-paginator>

  <button mat-fab aria-label="Example icon-button with a heart icon" (click)="addNew()">
    <mat-icon>add</mat-icon>
  </button>
</div>
