<form (ngSubmit)="onSumbmit(userSelectionList.selectedOptions.selected)" [formGroup]="courseStudentForm">

  <mat-card class="form-container">
    <mat-card-title>Student</mat-card-title>

    <mat-form-field>
      <mat-label>Select Year</mat-label>
      <mat-select [(value)]="selectedYear" (selectionChange)="yearSelected()" required>
        <mat-option *ngFor="let year of yearList" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
      <!--      <mat-error *ngIf="feedbackForm.controls.type.hasError('required')">Organisation type is required</mat-error>-->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Grade</mat-label>
      <mat-select [(value)]="selectedGrade" (selectionChange)="gradeSelected()" required>
        <mat-option *ngFor="let grade of gradeList" [value]="grade">
          {{grade}}
        </mat-option>
      </mat-select>
      <!--      <mat-error *ngIf="feedbackForm.controls.type.hasError('required')">Organisation type is required</mat-error>-->
    </mat-form-field>
    <mat-label>Select Class</mat-label>
    <mat-select [(value)]="selectedClass" (selectionChange)="classSelected()" required>
      <mat-option *ngFor="let class_ of classList" [value]="class_">
        {{class_}}
      </mat-option>
    </mat-select>

    <mat-form-field>
      <input matInput placeholder="Search Students" #studentSearch>
    </mat-form-field>

    <mat-selection-list #userSelectionList
                        (ngModelChange)="onStudentsChange($event)">
      <mat-list-option *ngFor="let student of students" [selected]=isChecked(student)
                       [value]="student">
        {{student.displayName}}
      </mat-list-option>
    </mat-selection-list>

    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="loadMore($event)">
    </mat-paginator>

    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!courseStudentForm?.valid" type="submit">Submit
        </button>
        <button mat-raised-button color="primary" [disabled]="!courseStudentForm?.touched"
                (click)="backToCourseManage()">
          Cancel
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

</form>
