/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:200,100,400');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "../../../libs/base/src/lib/global-scss/variables";
@import "~font-awesome/css/font-awesome.css";


  $body-font: 'Roboto', sans-serif;
  $heading-font: 'Roboto', sans-serif;

  $primary-color: rgb(224, 176, 72);
  $secandory-color: #85c992;
  $white-50: rgba(255,255,255, .5);


body {
  font-family: $body-font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 300;
}

a {
  color: #20c0ff;
  font-weight: bold;
  transition: a11 .4s;
  &:hover {
    color: darken(#1c90f3, 10%);
    text-decoration: none;
  }
}
