<s-grid 
lg="'l-left l-middle l-right'" 
md="'l-left  l-middle l-right'" 
sm="'l-left'  'l-middle' 'l-right'" 
x-sm="'l-left' 'l-middle' 'l-right'">

<s-grid-tile [gridArea]="'l-left'" *ngIf="!(auth.user | async)" >
    <mat-card class="login-card height-100">
        <h2>Satipasala</h2>
          <mat-card-title>Sign In</mat-card-title>

        <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="width-100"  [floatLabel]="auto">
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                    Email Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="width-100">
                  <input matInput placeholder="Password" formControlName="password" type="password">
                  <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Sign In</button>
          </mat-card-actions>
        </form>
      <!-- </span> -->
      </mat-card>
</s-grid-tile>
<s-grid-tile class="seperator" [gridArea]="'l-middle'">
<p>OR</p>
</s-grid-tile>
<s-grid-tile [gridArea]="'l-right'"  >
    <mat-card class="social-login height-100">
        
        <mat-card-title>Connect with Social Media</mat-card-title>
        
        <button (click)="signInWithGoogle()" class="social-button google">
          <i class="fa fa-google fa-lg"></i> Connect with Google
        </button>
        <button (click)="signInWithFacebook()" class="social-button facebook" disabled>
          <i class="fa fa-facebook fa-lg"></i> Connect with Facebook
        </button>
        <button (click)="signInWithTwitter()" class="social-button twitter" disabled>
          <i class="fa fa-twitter fa-lg"></i> Connect with Twitter
        </button>
      </mat-card>
</s-grid-tile>

    <!--
<ng-template #alreadyLoggedIn>
  <p class="text-success">
    You are logged in <i class="fa fa-thumbs-up"></i>
  </p>
</ng-template>-->
