<form>
  <mat-card class="form-container">
    <mat-card-title>Search Component</mat-card-title>

    <mat-form-field>
      <input type="text" aria-label="Search" matInput [formControl]="searchFormControl" [matAutocomplete]="auto"
              [ngModel]="searchString" (ngModelChange)="search($event)" #searchInput>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunction">
        <mat-option *ngFor="let option of optionsArray" [value]="option">
          {{option[displayField]}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
</form>





