<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="addNewQuestion()">New Question</button>
    </div>
    <mat-checkbox>Multiple Choise</mat-checkbox>
    <mat-checkbox>Written</mat-checkbox>
    <mat-checkbox>One answer</mat-checkbox>

  </mat-card-header>
 <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <s-chip-list [chipList]="questionLevelsChipList" (onChipClick)="onQuestionTypeClick($event)"></s-chip-list>

    <div cdkDropList #dragDropList="cdkDropList" class="example-list" [cdkDropListData]="questions"
         (cdkDropListDropped)="drop($event)"  [cdkDropListConnectedTo]="connectedTo" >
      <div class="example-box" *ngFor="let question of questions" cdkDrag>
        <div>
          <div>{{question.label}}</div>
          <mat-chip *ngFor="let label of question.labels">{{label.name}}</mat-chip>
        </div>

      </div>

    </div>

    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = $event">
    </mat-paginator>

    <div *ngIf="pageEvent">
      <h5>Page Change Event Properties</h5>
      <div>List length: {{pageEvent.length}}</div>
      <div>Page size: {{pageEvent.pageSize}}</div>
      <div>Page index: {{pageEvent.pageIndex}}</div>
    </div>
  </mat-card-content>
</mat-card>



