<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editPermissions()">
    <mat-icon>edit</mat-icon>
    <span>View/Edit Permissions</span>
  </button>
</mat-menu>
