 @import "../../../../../../../libs/base/src/lib/global-scss/mixins";
 $primary-color: rgb(224, 176, 72);
 $white-50: rgba(255,255,255, .5);

// @include headers("client", 40px, $header, $white);


// @include gridcolumns(6, 15px);
// .nuw{
//   width: auto;
//   grid-column-end: span 2;
// }

// .sg8{
//   width: auto;
//   grid-column-end: span 4;
// }
// @media (max-width: 1100px) {
//   @include gridcolumns(4, 15px);

//   .sg8{
//     width: auto;
//     grid-column-end: span 6;
//   }
// }

.about-sp{
  background:  $primary-color;
}

.notifications{
  background: #f5f5f5;
}






