<section class="header">
  <web-menu></web-menu>
  <event-banner></event-banner>
</section>
<section class="about-sp">
  <home-about></home-about>
</section>
<section class="notifications">
  <web-notification></web-notification>
</section>


<!-- <s-grid-tile [gridArea]="'w_ban'"> -->
<!--<s-slider></s-slider>-->
<!--<web-search></web-search>-->
<!-- <i class="fa fa-facebook"></i> -->
<!-- <fa name="cog" animation="spin"></fa> -->
<!-- </s-grid-tile> -->
<!-- <s-grid-tile [gridArea]="'train'">
      <div class="sgrid-2">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://docs.moodle.org/dev/images_dev/c/c5/bar_chart.png"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://docs.moodle.org/dev/images_dev/c/c5/bar_chart.png"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </s-grid-tile> -->

<!-- <s-grid-tile [gridArea]="'libra'">
      <div class=" ">Observable
        <event-banner></event-banner>

         <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div> 

      </div>
    </s-grid-tile>-->
<!-- <s-grid-tile [gridArea]="'lerarn'">
      learn
    </s-grid-tile>
    <s-grid-tile [gridArea]="'help'">
      help
    </s-grid-tile>
    <s-grid-tile [gridArea]="'center'">
      center
    </s-grid-tile> -->
<!-- <s-grid-tile [gridArea]="'w_foo'">
      <div class="sgrid-3 wrapper">
        <div>A</div>
        <div>B</div>
        <div>C</div>
      </div>
    </s-grid-tile> -->
<!-- </s-grid> -->