<h1 mat-dialog-title>
  {{title}}
</h1>

<div mat-dialog-content>
  <p>{{message}}</p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onDismiss()" i18n="@@no">No</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" i18n="@@yes">Yes</button>
</div>
