<form [formGroup]="userEditForm" novalidate (ngSubmit)="editUser()">
  <mat-card>
    <mat-card-content>
      <mat-card style="margin-bottom: 10px;">
        <mat-card-header>
          <mat-card-title>Personal Details</mat-card-title>
        </mat-card-header>
        <s-grid
          lg = "'c_pic c_form'"
          md = "'c_pic c_form'"
          sm = "'c_pic c_form'"
          x-sm="'c_pic c_form'">

          <s-grid-tile [gridArea]="'c_pic'"  >
            <app-file-upload fileTypeData="image" [simplified]="true" [multiple]="false" loc="profile_pictures" defSrc="imgURL"></app-file-upload>
          </s-grid-tile>

          <s-grid-tile [gridArea]="'c_form'">

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="First Name*" formControlName="firstName">
                  <mat-error *ngIf="userEditForm.controls['firstName'].hasError('required')">
                    First Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input matInput type="date" placeholder="DOB*" formControlName="dob">
                  <mat-error *ngIf="userEditForm.controls['dob'].hasError('required')">
                    DOB is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="NIC" formControlName="nic">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <input matInput type="tel" placeholder="Phone Number*" formControlName="phoneNumber">
                  <mat-error *ngIf="userEditForm.controls['phoneNumber'].hasError('required')">
                    Phone Number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="Email*" formControlName="email">
                  <mat-error *ngIf="userEditForm.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </s-grid-tile>
        </s-grid>
      </mat-card>

      <mat-card style="margin-bottom: 10px;">
        <h2>Credentials</h2>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput type="password" placeholder="Password*" formControlName="password">
              <mat-error *ngIf="userEditForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput type="password" placeholder="Confirm Password*" formControlName="confirmPassword">
              <mat-error *ngIf="userEditForm.controls['confirmPassword'].hasError('required')">
                Confirm Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>

      <mat-card style="margin-bottom: 10px;">
        <h2>Location & Organization Details</h2>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Street" formControlName="street">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="City*" formControlName="city">
              <mat-error *ngIf="userEditForm.controls['city'].hasError('required')">
                City is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Province" formControlName="province">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Organization*" formControlName="organization">
              <mat-error *ngIf="userEditForm.controls['organization'].hasError('required')">
                organization is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>

      <mat-card style="margin-bottom: 10px;">
        <h2>Role & Privileges</h2>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-select placeholder="Role*" formControlName="userRole">
                <!--<mat-option *ngFor="let userRole of userRoles | async" [value]="userRole.name">
                  {{userRole.name}}
                </mat-option>-->
              </mat-select>
              <mat-error *ngIf="userEditForm.controls['userRole'].hasError('required')">
                User Role is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-select placeholder="Preferred Medium*" formControlName="preferredMedium">
                <!--<mat-option *ngFor="let medium of preferredMediums" [value]="medium">
                  {{medium}}
                </mat-option>-->
              </mat-select>
              <mat-error *ngIf="userEditForm.controls['preferredMedium'].hasError('required')">
                Preferred Medium is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>

      <mat-card style="margin-bottom: 10px;">
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Update</button>
          <button mat-raised-button color="primary" (click)="backToUserManage()">Cancel</button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
</form>
