:root {
  --primarey:green;
  --header:black;
}
//for Admin
/// Colors
$white: #fff !default;
$black: #000 !default;
$menu_leftBG: #212227 !default;
$menu_textcol: #859DA5;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Grayscale
$gray-dark: #222;
$gray: #212121;
$gray-light: #666;
$gray-lighter: #bbb;
$gray-lightest: #eee;


$header:black !default;
$white:#fff !default;
$green:green !default;
$primary:blue;
$grid_gutter: 0.5rem;



