<h2>
  <div>Role: {{role.name}}</div>
</h2>
<mat-list>
  <mat-list-item  *ngFor="let permission of permissions | async">
    <mat-slide-toggle [checked]="isPermissionEnabled(permission.name)" (change)="addRemovePermission(permission,$event.checked)">{{ permission.description }}</mat-slide-toggle>
  </mat-list-item>
</mat-list>
<button mat-raised-button color="primary" type="submit" (click)="savePermission()">Submit</button>
<div *ngIf="submitted && success">Role edited !!</div>


