<mat-card class="example-card">
  <mat-card-header>

    <mat-list>
      <mat-list-item>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Questions Attached</mat-card-title>
        <p>
          Count:
          <mat-icon [matBadge]="questionnaire?.questions.length" matBadgeColor="primary">home</mat-icon>
        </p>
      </mat-list-item>
    </mat-list>

  </mat-card-header>
  <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <div  cdkDropList #dragDropList="cdkDropList" class="example-list" [cdkDropListConnectedTo]="connectedTo"
         [cdkDropListData]="questionnaire?.questions" (cdkDropListDropped)="drop($event)">
      <div *ngIf="questionnaire?.questions">
        <div  class="example-box" *ngFor="let question of questionnaire?.questions" cdkDrag>
          <div>
            <div>{{question.label}}</div>
            <mat-chip *ngFor="let label of question.labels">{{label.name}}</mat-chip>
          </div>
        </div>
      </div>
      <div *ngIf="questionnaire?.questions.length ===0">
        <h1>Please add questions by Dragging and dropping</h1>
      </div>
    </div>

  </mat-card-content>
</mat-card>
