<!-- <header><div class="logo"><img src="../../../../../assets/images/satipasala-logo.png" alt="Sati Pasala">
  </div>
  <div class="topnav-container">
    <div class="topnav" id="myTopnav" #tttteeee>
      <a class="navitem" href="#" *ngFor="let menu of mainNav" (click)="onMenuItemClicked(menu)"
        [class.active]="selectedMenuItem === menu.headingName">
        {{menu.headingName}}</a>
      <a href="javascript:void(0);" class="icon"
        onClick="document.getElementById('myTopnav').className = document.getElementById('myTopnav').className === 'topnav' ? 'topnav responsive' : 'topnav'">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="userinfo">
    <p>username</p>
  </div>
  <div class="search">
    <i class="fa fa-search"></i>
  </div> 
</header>-->

<header class="fixed-top">
  <div class="container-fluid top-bar p-2">
    <div class="row justify-content-end">
      <div class="social-media-icons"><i class="fa fa-facebook"></i></div>
      <div class="social-media-icons"><i class="fa fa-twitter"></i></div>
      <div class="social-media-icons"><i class="fa fa-youtube-play"></i></div>
      <div class="seachbox">
        <i class="fa fa-search"></i>
      </div>
      <div class="text-white login-link"><a href="">Login</a></div>
    </div>
  </div>
  <nav id="navbarsDefault" class="navbar navbar-expand-md">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="logo"><img src="../../../../../assets/images/satipasala-logo.png" alt="Sati Pasala">
        </div>
      </a>
      <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed "
        data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let menu of mainNav" (click)="onMenuItemClicked(menu)"
          [class.active]="selectedMenuItem === menu.headingName">
          <a class="nav-link" id="id01" href="#">
            {{menu.headingName}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>






<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo"><img src="../../../../../assets/images/satipasala-logo.png" alt="Sati Pasala">
    </div>
    <div class="topnav" id="myTopnav" #tttteeee>
      <a href="#" *ngFor="let menu of mainNav" (click)="onMenuItemClicked(menu)"
        [class.active]="selectedMenuItem === menu.headingName">
        {{menu.headingName}}</a>
      <a href="javascript:void(0);" class="icon"
        onClick="document.getElementById('myTopnav').className = document.getElementById('myTopnav').className === 'topnav' ? 'topnav responsive' : 'topnav'">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="search">
      <i class="fa fa-search"></i>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->




<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" hideToggle="true">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Responsive Navigation</span>
    <span class="menu-spacer"></span>
    <div hideToggle="true">
      <a href="#" mat-button *ngFor=" let menu of mainNav"> {{menu.headingName}}</a>
    </div>
    <web-notification></web-notification>
    <web-search></web-search>
    <web-user-profile></web-user-profile>
  </mat-toolbar-row>
</mat-toolbar> -->