

<div class="form-container">
  <dynamic-form-component #form (onSubmit)="onSubmit($event)" [fields]="this.fields"></dynamic-form-component>
  <!-- <dynamic-form-component [hidden]="formMode != NEW" [fields]="this.fields"></dynamic-form-component> -->
</div>
