<!-- <div class="form-container"> -->
<form [formGroup]="hostForm" (ngSubmit)="addEditHost()">
  <s-grid
    lg="'title personnel' 'details personnel' 'address personnel' 'locations personnel' 'information personnel'"
    md="'title personnel' 'details personnel' 'address personnel' 'locations personnel' 'information personnel'"
    sm="'title' 'details' 'address' 'personnel' 'locations' 'information'"
  >
    <s-grid-tile [gridArea]="'title'">
      <mat-card class="form-container">

        <mat-card-header>
          <mat-card-title>{{formTitle}}</mat-card-title>
        </mat-card-header>

      </mat-card>
    </s-grid-tile>
    <s-grid-tile [gridArea]="'details'">
      <mat-card class="form-container">

        <mat-card-title>Details</mat-card-title>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Organisation Name"
                formControlName="name"></textarea>
          <mat-error *ngIf="hostForm.controls.name.hasError('required')">Organisation name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Description"
                formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Host Type</mat-label>
          <mat-select formControlName="type" [(value)]="selectedHost" (selectionChange)="orgSelected()" required>
            <mat-option *ngFor="let hostType of hostTypes" [value]="hostType">
              {{hostType}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hostForm.controls.type.hasError('required')">Organisation type is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Preferred Medium</mat-label>
          <mat-select formControlName="preferred_medium" [(value)]="selectedMedium">
            <mat-option *ngFor="let medium of mediums" [value]="medium">
              {{medium}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hostForm.controls.preferred_medium.hasError('required')">Medium is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="phone_number" type="number">
          <mat-error *ngIf="hostForm.controls.phone_number.hasError('required')">Phone number is required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Business Registration No"
                formControlName="business_reg_no"></textarea>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Website"
                formControlName="website"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" type="email">
          <mat-error *ngIf="hostForm.controls.email.hasError('email')">Please Enter a valid email</mat-error>
        </mat-form-field>

      </mat-card>
    </s-grid-tile>
    <s-grid-tile [gridArea]="'personnel'">
      <mat-card class="form-container">

        <mat-card-title>Personnel</mat-card-title>

        <mat-label>Person In Charge</mat-label>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Name"
                formControlName="pic_name"></textarea>
          <mat-error *ngIf="hostForm.controls.pic_name.hasError('required')">Person in charge is required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Designation"
                formControlName="pic_designation"></textarea>
          <mat-error *ngIf="hostForm.controls.pic_designation.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="pic_phone" type="number">
          <mat-error *ngIf="hostForm.controls.pic_phone.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Email"
                formControlName="pic_email"></textarea>
          <mat-error *ngIf="hostForm.controls.pic_email.hasError('email')">Please Enter a valid email</mat-error>
          <mat-error *ngIf="hostForm.controls.pic_email.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-label>Coordinator 1</mat-label>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Name"
                formControlName="coord_1_name"></textarea>
          <mat-error *ngIf="hostForm.controls.coord_1_name.hasError('required')">Atleast 1 coordinator is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Designation"
                formControlName="coord_1_designation"></textarea>
          <mat-error *ngIf="hostForm.controls.coord_1_designation.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="coord_1_phone" type="number">
          <mat-error *ngIf="hostForm.controls.coord_1_phone.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Email"
                formControlName="coord_1_email"></textarea>
          <mat-error *ngIf="hostForm.controls.coord_1_email.hasError('email')">Please Enter a valid email</mat-error>
        </mat-form-field>

        <mat-label>Coordinator 2</mat-label>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Name"
                formControlName="coord_2_name"></textarea>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Designation"
                formControlName="coord_2_designation"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="coord_2_phone" type="number">
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Email"
                formControlName="coord_2_email"></textarea>
          <mat-error *ngIf="hostForm.controls.coord_2_email.hasError('email')">Please Enter a valid email</mat-error>
        </mat-form-field>

      </mat-card>
    </s-grid-tile>
    <s-grid-tile [gridArea]="'address'">
      <mat-card class="form-container">

        <mat-card-title>Address</mat-card-title>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Street"
                formControlName="street"></textarea>
          <mat-error *ngIf="hostForm.controls.street.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="City"
                formControlName="city"></textarea>
          <mat-error *ngIf="hostForm.controls.city.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Province"
                formControlName="province"></textarea>
          <mat-error *ngIf="hostForm.controls.province.hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Country"
                formControlName="country"></textarea>
          <mat-error *ngIf="hostForm.controls.country.hasError('required')">Required</mat-error>
        </mat-form-field>

      </mat-card>
    </s-grid-tile>
    <s-grid-tile [gridArea]="'locations'">
      <mat-card class="form-container">

        <mat-card-header>
          <mat-card-title>Locations</mat-card-title>
        </mat-card-header>

        <div formArrayName="locations">
          <div *ngFor="let location of hostForm.controls.locations; let i=index;" formGroupName="{{i}}">
            <div>
              <mat-label>Location {{i + 1}}</mat-label>
              <p *ngIf="hostForm.controls.locations.controls.length > 1" (click)="removeLocations(i)">Remove</p>
            </div>
            <mat-form-field>
          <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Type"
                    formControlName="locationType"></textarea>
            </mat-form-field>
            <mat-form-field>
          <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" matInput placeholder="Sub Type"
                    formControlName="locationSubType"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div>
          <a (click)="addLocations()">Add Location</a>
        </div>

      </mat-card>
    </s-grid-tile>
    <s-grid-tile [gridArea]="'information'">
      <mat-card *ngIf="selectedHost == 'School'" class="form-container">

        <mat-card-header>
          <mat-card-title>{{selectedHost}} Information</mat-card-title>
        </mat-card-header>

        <mat-form-field>
          <mat-label>Available Classes</mat-label>
          <mat-select formControlName="schoolType" [(value)]="selectedSchoolType" (selectionChange)="schoolSelected()">
            <mat-option *ngFor="let schoolType of schoolTypes" [value]="schoolType">
              {{schoolType}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngFor="let grade of gradeList">
          <mat-label>{{grade.grade}}</mat-label>
          <input [(ngModel)]="grade.classes" [ngModelOptions]="{standalone:true}">
        </div>

      </mat-card>
    </s-grid-tile>
  </s-grid>

  <mat-card class="form-container">
    <div class="command-btn-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-raised-button color="primary">{{submitBtnText}}</button>
      <button mat-raised-button color="basic" (click)="backToHostManage()">Cancel</button>
    </div>
  </mat-card>

</form>
