@import "../../../../../theme";

.card-img-top {
  border-radius: 50px;
}

ul {
  text-align: justify;
  padding: 10px 15px;
  margin: 3px 0;
}

li {
  display: block;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  p {
    min-width: 100px;
    max-width: 100px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;

  }
  &:last-child {
    margin-right: 0;
  }
}

.dark {
  ul {
    background: mat-color($primary, 800);;
    li {
      p {
        font-size: 14px;
      }
      p, .mat-icon {
        color: mat-color($primary, 50);
      }

      img {
        border: 1px solid mat-color($primary, 50);;
        width: 35px;
      }
    }
  }
}

.white {
  ul {
    li {
      p {
        font-size: 16px;
      }
      p, .mat-icon {
        color: mat-color($primary, 800);
      }

      img {
        border: 1px solid mat-color($primary, 800);;
        width: 50px;
      }
    }
  }
}
