
  <div *ngIf="auth.user | async as user" [ngClass]="sub_profile">
      <ul  >
        <li><img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'"
                 width=40px></li>
        <li><p>{{ user.displayName }}</p> </li>
        <li>
          <button mat-icon-button (click)="logout()" i18n="@@logout">
            <mat-icon aria-hidden="true">settings_power</mat-icon>
          </button>
          </li>
      </ul>
  </div>


