  <mat-spinner *ngIf="!questionnaire"></mat-spinner>
  <mat-card class="example-card" *ngIf="questionnaire">
    <form [formGroup]="questionnaireForm" (ngSubmit)="saveQuestionnaire()">
      <mat-card-header>
        <mat-list>
          <mat-list-item>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Questionnaire</mat-card-title>
          </mat-list-item>
        </mat-list>

      </mat-card-header>
      <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>

        <mat-form-field class="full-width">
          <input required matInput placeholder="Questionnaire Name" formControlName="questionnaireName"
                 [(ngModel)]="questionnaire.name">
          <mat-error *ngIf="questionnaireForm.controls['questionnaireName'].hasError('required')">
            Question <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <s-grid lg="'questionnaire  questions'" sm="'questionnaire'  'questions'">
          <s-grid-tile [gridArea]="'questionnaire'">
            <admin-questionnaire-drag-drop #questionnaireDragDrop [questionnaire]="questionnaire"
                                           [connectedTo]="[questionsDragDrop.dragDropList]"
                                           (onQuestionnaireUpdated)="updateFormValues()"></admin-questionnaire-drag-drop>
          </s-grid-tile>
          <s-grid-tile [gridArea]="'questions'">
            <admin-questions-drag-drop #questionsDragDrop [questionnaire]="questionnaire"
                                       [connectedTo]="[questionnaireDragDrop.dragDropList]"></admin-questions-drag-drop>
          </s-grid-tile>
        </s-grid>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!questionnaireForm?.valid" type="submit">Submit</button>
        <button mat-raised-button color="primary" [disabled]="!questionnaireForm?.touched" (click)="reset()">Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>




