.questionnaire-list {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

:host{
  --drag-drop-list-height:90%;
  --drag-drop-list-width:100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}
.example-card{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
}

.example-card{
  margin-bottom: 10px;
}


.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}


.questionType{
  float: right;
}
