<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>GUEST</h3>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <button mat-icon-button [matMenuTriggerFor]="profile">
      <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=30px>
    </button>
    <mat-menu x-position="before" #profile="matMenu">
    <user-profile-subicon ngClass="white"></user-profile-subicon>

      <mat-divider></mat-divider>

      <button mat-menu-item routerLink="/profile">
        <mat-icon aria-hidden="true">settings</mat-icon>
        Settings
      </button>
      <button mat-menu-item routerLink="/profile">
        <mat-icon aria-hidden="true">account_box</mat-icon>
        Profile
      </button>

    </mat-menu>


  </div>

</ng-template>

