@import "../../../../../../../libs/base/src/lib/global-scss/variables";
@import '../../../../theme';



.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $gray-lightest;//added by Dimuthu
}


.main-nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%  !important;
  z-index: 5;
  .mat-icon{
    font-size: 20px;
  }
}

.icon-padding {
  margin-left: 3px;
  margin-right: 3px;
}

.nav-list-exp {
  padding: 0 !important;
}

.nav-list-item {
  background: $menu_leftBG;//added by Dimuthu
  transition: background 0.2s linear;
}
.mat-icon-active mat-icon {
  transition: color 0.2s linear;
  color: mat-color($primary) !important;
}
.nav-category-open {
  transition: color 0.2s linear;
  color: mat-color($primary) !important;
}

.nav-list-item-text {
  padding-left: 18px;
  font-size: 0.8em;
  color:$menu_textcol; //text color of side menu
}

.lang-nav{
  font-size: 16px;

}
h5{
  font-size: 15px;
}

.mat-sidenav, .mat-drawer-inner-container, .mat-expansion-panel-header{//added by Dimuthu
  background:  mat-color($primary)!important;
}


.mat-expansion-panel-header:focus, .mat-expansion-panel-header:hover,
.mat-expansion-panel-header:visited, .mat-expansion-panel-header:active, .mat-expansion-panel-content,
.mat-expansion-panel-header {
  background-color: $menu_leftBG;
  border-radius: 0px;
  display: flex;
  align-items: center;

}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover,
.mat-expanded {
  background-color: lighten($menu_leftBG, 10%)!important;
}

.list-subCategory, .mat-line{
  color: #859DA5;
}

// .mat-expanded, .list-subCategory, .mat-line {
//   background-color: #2D2E35;
//   color: #758F98;
//   border-radius: 0px;
// }
.mat-nav-list .mat-list-item:hover { //hover of subcategory
  border-radius: 0px;
}

.nav-list-item-text {
  display: flex;
  align-items: center;
}

.nav-list-icon {
  margin-left: 5px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-list-icon {
  color: #859DA5;
}
.mat-expansion-panel {
  border-radius: 0px;
  background-color: #2D2E35;
}

.mat-expansion-panel .mat-list-icon {
  color: #8FA6AD;
}
.mat-expansion-panel-content .ng-trigger .ng-trigger-bodyExpansion .mat-expansion-panel-body {
  padding: 0 0px 5px;
}

mat-toolbar {
  height:  64px !important;
  min-height: 64px !important;

mat-toolbar-row {
  height: 64px !important;
}
}

.translation-lang-select {
  bottom: 0;
  height: 50px;
  position: fixed;
  margin: 5px;
  width: 150px;
}

.translation-lang-select > div {
  margin: 5px;
}

.lang-nav{
  margin: 5px;
  color: #ffffff;
  font-weight: 100;
  text-decoration: none;
}

.lang-selected{
  color: #e8e315;
  font-weight: 500;
}

.mat-list-item{
  &:hover{
    background: lighten($menu_leftBG, 20%)!important;
    .mat-line{
      color: $white;
    }
  }
}


  ul.header-right-side{
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      position: relative;
      vertical-align: top;
      min-width: 60px;
      &:before{
        content: "";
        height: 20px;
        width: 1px;
        position: absolute;
        background: $white;
        left: -11px;
        top: 13px;
      }
    }
    .mat-badge-content{
      left: -1px!important;
      top: -4px!important;
    }
  }
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px!important;
  min-height: 50px!important;
}
