<mat-toolbar color="primary" class="main-nav mat-elevation-z4">

  <button mat-icon-button (click)="start.toggle()" class="icon-padding">
    <mat-icon aria-hidden="true">menu</mat-icon>
  </button>
  <button mat-button routerLink="/" i18n="Site header at very top left corner|@@adminTitle"><strong>{{title}}</strong>
  </button>

  <!-- This fills the remaining space of the current row -->

  <span class="fill-remaining-space"></span>


  <ul class="header-right-side">
    <li>
      <button mat-icon-button
              matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        <mat-icon aria-hidden="true">notifications</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button [matMenuTriggerFor]="lan">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #lan="matMenu">
        <a mat-menu-item href="/si" [class.lang-selected]="locale == 'si'">
          <mat-icon>dialpad</mat-icon>
          <span>Sinhala</span>
        </a>
        <a mat-menu-item href="/ta" [class.lang-selected]="locale == 'ta'">
          <mat-icon>dialpad</mat-icon>
          <span>Tamil</span>
        </a>
        <a mat-menu-item href="/en" [class.lang-selected]="locale == 'en'">
          <mat-icon>dialpad</mat-icon>
          <span>English</span>
        </a>
      </mat-menu>
    </li>

    <li>
      <user-profile></user-profile>
    </li>
  </ul>





</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav color="primary" class="mat-elevation-z10" #start [opened]="open" fixedTopGap="50" [mode]="mode" fixedInViewport="true"
               style="width:240px;">

    <mat-list dense>
      <user-profile-subicon ngClass="dark"></user-profile-subicon>
      <ng-container *ngFor="let nav of navList">
        <mat-expansion-panel class="mat-elevation-z0" hideToggle="true" [expanded]="nav.dropDown">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
              <span class="nav-list-item-text" i18n="@@categoryName">{nav.categoryName, select, Dashboard {Dashboard} Auth Management {Auth Management} User Management {User Management} Host Management {Host Management} Questionnaire Management {Questionnaire Management} Course Management {Course Management} Notes {Notes} File Management {File Management} Translations {Translations} ssr {ssr} Reference Data{Reference Data}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div style="margin-top: -20px;" class="list-subCategory">
              <ng-container *ngFor="let subCategory of nav.subCategory">

                <ng-container *ngIf="subCategory.visable"> <!--Sub category list-->

                  <mat-list-item (click)="mode === 'over'? start.close() : null" routerLinkActive="mat-icon-active"
                                 style="margin-left: -30px;margin-right: -24px;"
                                 [routerLink]="'/'+nav.categoryLink+'/'+subCategory.subCategoryLink"
                                 [queryParams]="subCategory.subCategoryQuery">
                    <span
                      mat-line style="margin-left: 30px;" i18n="@@subCategoryName">{subCategory.subCategoryName, select, Roles {Roles} Permissions {Permissions} Overview {Overview} Create User {Create User} Manage Users {Manage Users} Text Search {Text Search} Add Host {Add Host} Manage Hosts {Manage Hosts} Manage Questionnaire {Manage Questionnaire} Questions {Questions} Courses {Courses}  Add Course {Add Course} Feedbacks {Feedbacks} Personal Notes {Personal Notes} Assignments{Assignments} Image Upload{Image Upload} PDF Upload {PDF Upload} Audio Files {Audio Files} Glossary {Glossary} Activity Types {Activity Types} Question Types {Question Types} Activities {Activities}}</span>
                    <button mat-icon-button>
                      <mat-icon>info</mat-icon>
                    </button>
                  </mat-list-item>
                </ng-container>
              </ng-container>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content style="margin-top:50px;">
    <div style="margin: 10px;">
      <notification-message></notification-message>
      <div class="">
        <button mat-button color="primary"  (click)="goBack()"> <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>


      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon aria-hidden="true">settings</mat-icon>
    Settings
  </button>
  <button mat-menu-item routerLink="/profile">
    <mat-icon aria-hidden="true">account_box</mat-icon>
    Profile
  </button>
  <button mat-menu-item routerLink="/profile">
    <mat-icon aria-hidden="true">exit_to_app</mat-icon>
    Sign out
  </button>
</mat-menu>



