<form [formGroup]="feedbackForm" (ngSubmit)="addEditFeedback()">
  <mat-card-header>
    <mat-card-title>{{formTitle}}</mat-card-title>
  </mat-card-header>

  <satipasala-search-box [collection]="collection" [displayField]="displayField" [searchFields]="searchFields"></satipasala-search-box>

  <mat-card class="form-container">
    <mat-card-title>Student</mat-card-title>

    <mat-selection-list #studentSelector
                        (selectionChange)="selectStudent($event, studentSelector.selectedOptions.selected)">
      <mat-list-option *ngFor="let student of students" [value]="student">
        {{student.displayName}}
      </mat-list-option>
    </mat-selection-list>

    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="loadMore($event)">
    </mat-paginator>
  </mat-card>

  <div *ngIf="courses.length > 0">
    <mat-card class="form-container">
      <mat-card-title>Courses</mat-card-title>

      <mat-form-field>
        <mat-label>Select Course</mat-label>
        <mat-select formControlName="course" [(value)]="selectedCourse" (selectionChange)="courseSelected()"
                    required>
          <mat-option *ngFor="let course of courses" [value]="course">
            {{course.name}}
          </mat-option>
        </mat-select>
        <!--      <mat-error *ngIf="feedbackForm.controls.type.hasError('required')">Organisation type is required</mat-error>-->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Occurrence</mat-label>
        <mat-select formControlName="occurrence" [(value)]="selectedOccurrence"
                    required>
          <mat-option *ngFor="let occurrence of occurrences" [value]="occurrence">
            {{occurrence.name}}
          </mat-option>
        </mat-select>
        <!--      <mat-error *ngIf="feedbackForm.controls.type.hasError('required')">Organisation type is required</mat-error>-->
      </mat-form-field>
      <div *ngIf="selectedQuestionnaire">
        <s-questionnaire-form [questionnaire]="selectedQuestionnaire" [disableSubmit]="false" (onSubmit)="onQuestionnaireSubmit()"></s-questionnaire-form>
      </div>

    </mat-card>
  </div>


  <mat-card class="form-container">
    <div class="command-btn-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-raised-button color="primary">{{submitBtnText}}</button>
      <button mat-raised-button color="basic" (click)="clearForm()">Cancel</button>
    </div>
  </mat-card>
</form>
