<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="showActivites()">
    <mat-icon>pageview</mat-icon>
    <span>Activities</span>
  </button>
  <button mat-menu-item (click)="viewCourse()">
    <mat-icon>info</mat-icon>
    <span>View</span>
  </button>
  <button mat-menu-item (click)="editCourse()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="addStudents()">
    <mat-icon>edit</mat-icon>
    <span>Add Students</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
