<h2 mat-dialog-title>Question Type</h2>
<mat-dialog-content [formGroup]="formGroup" novalidate class="ref-dialog">
  <mat-form-field>
    <input matInput placeholder="ID" formControlName="id" i18n-placeholder="@@id">
    <mat-error *ngIf="formGroup.controls['id'].hasError('required')"
               i18n="@@didYouForgetToInputValue">
      Did you forget to input an ID?
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" i18n-placeholder="@@name">
    <mat-error *ngIf="formGroup.controls['name'].hasError('required')"
               i18n="@@didYouForgetToInputValue">
      Did you forget to input a value?
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Type" formControlName="type" i18n-placeholder="@@type">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Label" formControlName="label" i18n-placeholder="@@label">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Field Type" formControlName="fieldType" i18n-placeholder="@@fieldType">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Answer Type" formControlName="answerType" i18n-placeholder="@@answerType">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Active" formControlName="active" i18n-placeholder="@@active">
      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="dataObj.type !== 'view'" class="mat-raised-button" (click)="cancel()" i18n="@@cancel">Cancel</button>
  <button *ngIf="dataObj.type === 'view'" class="mat-raised-button mat-primary" (click)="cancel()" i18n="@@ok">OK
  </button>
  <button *ngIf="dataObj.type !== 'view'" class="mat-raised-button mat-primary" (click)="onSave()"
          [disabled]="formGroup.invalid" i18n="@@save">Save
  </button>
</mat-dialog-actions>

