<div id="slide-container">
    <div id="slide-first-element">
    </div>
    <div id="slide-element-2">
    </div>
    <div id="slide-element-3">
    </div>
    <div class="container h-100">
        <h1>Sharing <br />Mindfulness with
            <p class="txt-rotate" data-period="3000"
                data-rotate='[ "School Children", "Individuals", "Social Workers", "Institutions", "Organizations"]'>
            </p>
        </h1>
    </div>
</div>
<!-- <div class="mainimage">
    <div class="container h-100">
        <h1>Sharing <br />Mindfulness with
            <p class="txt-rotate" data-period="3000"
                data-rotate='[ "School Children", "Individuals", "Social Workers", "Institutions", "Organizations"]'>
            </p>
        </h1>
    </div>
</div> -->