$primary-color: rgb(224, 176, 72);
$white-50: rgba(255,255,255, .5);
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.25)
  }
}

@keyframes zoomin {
  0% { 
    transform: scale(1)
  }
  100% {
    transform: scale(1.25)
  }
} 

// .mainimage{
// height: 100vh;
// width: 100%;
// position: relative;
// overflow: hidden;

// &:before {
//   content:"";
//   position:absolute;
//   top:0px;
//   left:0px;
//   width: 100%;
//   height: 100%;
//   background: url(../../../../../assets/images/satipasala-mainimage.jpg) no-repeat;
//   background-size: cover;
//   background-repeat: no-repeat;
//   z-index: -9;
//   -webkit-animation: zoomin 30s ease;
//   animation: zoomin 30s ease;
//   animation-delay: 120ms;
//   animation-fill-mode: forwards;
// }
// }

#slide-container .container{
  position: relative;
  }

h1 {
    font-weight: 200;
    margin: 0.4em 12px;
    position: absolute;
    bottom: 50px;
    color: #ffffff;
    left: 0;
    font-size: 2.5rem;
    width:auto;
    height: 150px;
    left: 15px;
  }
  
  p{
    color:$primary-color;
    font-weight: 400;
    display: block;
    
  }

  @media (min-width: 992px){
    h1 {
    font-size: 3.5rem;
    bottom: 80px;
    left: 0;
  }
  p{
    display: inline-block;
    
  }
  }

  #slide-container {
    position: relative;
    width: 100%; /* responsiveness */
    overflow: hidden;
  }
  
  /* First element to be in block mode for responsiveness */
  #slide-first-element {
      &:before {
      content:"";
      display: block; /* to get the dimensions set */
      width: 100%;
      height: 100vh;
      top:0px;
      left:0px;
      background: url(../../../../../assets/images/satipasala-mainimage.jpg) no-repeat;
      background-size: cover;
      background-position: center middle;
      z-index: -9;
      animation: fade-1 80s infinite;
      -webkit-animation: fade-1 80s infinite;
      overflow: hidden;
      background-attachment: fixed;
    }
  }

  #slide-element-2 {
    &:before {
    content:"";
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: url(../../../../../assets/images/satipasala-mainimage2.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    animation: fade-2 80s infinite;
    -webkit-animation: fade-2 80s infinite;
    animation-delay: 1000ms;
    overflow: hidden;
    background-attachment: fixed;
    z-index: -9;
  }
}

#slide-element-3 {
  &:before {
  content:"";
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: url(../../../../../assets/images/satipasala-mainimage3.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  animation: fade-3 80s infinite;
  -webkit-animation: fade-3 80s infinite;
  animation-delay: 1000ms;
  overflow: hidden;
  background-attachment: fixed;
  z-index: -9;
}
}
  
  /* Other element to be in absolute position */
  // #slide-element-2,
  // #slide-element-3 {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
  
  /* Style images */
  // .slide-image {
  //   width: 100%;
  //   overflow: hidden;
  // }
  
  
  /* Animation settings for individual elements */
  /* For more images the animations have to be adjusted */
  // #slide-first-element {
  //   animation: fade-1 50s infinite;
  //   -webkit-animation: fade-1 50s infinite;
  //   overflow: hidden;
  // }
  
  // #slide-element-2 {
  //   animation: fade-2 50s infinite;
  //   -webkit-animation: fade-2 50s infinite;
  //   overflow: hidden;
  // }
  
  // #slide-element-3 {
  //   animation: fade-3 50 infinite;
  //   -webkit-animation: fade-3 50s infinite;
  //   overflow: hidden;
  // }
  
  @keyframes fade-1 {
    0% {
      opacity: 1;
      transform: scale(1.15);
    }
    33% {
      opacity: 0;
      transform: scale(1);
    }
    66% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1.15);
    }
  }
  
  @keyframes fade-2 {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    33% {
      opacity: 1;
      transform: scale(1.15);
    }
    66% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  @keyframes fade-3 {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    33% {
      opacity: 0;
      transform: scale(1);
    }
    66% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  /* example for a 4th slide */
  @keyframes fade-4 {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }