<mat-card class="form-container">
  <mat-card-header>
    <mat-card-subtitle>Activities</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let activity of course?.activities">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{activity.name}}</h4>
        <p mat-line> {{activity.type.description}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>

</mat-card>
