<!--&lt;!&ndash; <div class="form-container"> &ndash;&gt;-->
<!--<form [formGroup]="roleForm" (ngSubmit)="addEditRole()">-->
  <!--<mat-card class="form-container">-->
    <!--<mat-card-header>-->
      <!--<mat-card-title>{{formTitle}}</mat-card-title>-->
    <!--</mat-card-header>-->

    <!--<mat-form-field>-->
      <!--<textarea matInput placeholder="Id" formControlName="name"></textarea>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<textarea matInput placeholder="Name" formControlName="name"></textarea>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<mat-checkbox matInput placeholder="isActive" formControlName="isActive"></mat-checkbox>-->
    <!--</mat-form-field>-->

    <!--<div class="command-btn-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">-->
      <!--<button mat-raised-button color="primary">{{submitBtnText}}</button>-->
      <!--<button mat-raised-button color="basic" (click)="backToRoleManage()">Cancel</button>-->
    <!--</div>-->
  <!--</mat-card>-->
<!--</form>-->
<!--&lt;!&ndash; </div> &ndash;&gt;-->
